@media(max-width: 1320px) {}

@media(max-width: 1280px) {}

@media(max-width: 1140px) {}

@media(max-width: 1024px) {}

@media(max-width: 990px) {
    .header {
        &__content {
            height: 90rem;
            display: flex;
            align-items: center;
            justify-content: center;

            &-image {
                width: max-content;
            }
        }

        &__background {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 60rem;
            display: grid;
            place-items: center;
            left: 50%;
            transform: translateX(-50%);

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                background: url('../img/wave.png') no-repeat center center / cover;
                width: 75rem;
                height: 75rem;
                transform: translate(-50%, -50%);
                opacity: 0.3;
            }

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                background: url('../img/wave.png') no-repeat center center / cover;
                width: 60rem;
                height: 60rem;
                transform: translate(-50%, -50%);
                opacity: 0.5;
            }

            &-image {
                position: relative;
                opacity: 0.8;
            }
        }
    }
}

@media(max-width: 875px) {}

@media(max-width: 768px) {
    .main {
        .slider {
            max-width: 74rem;
        }

        & .intro {
            &__title {
                font-size: 6.5rem;
            }

            &__content {
                &-quality {
                    z-index: 5;

                    &_auto {
                        transition: .1s;

                        &:hover {
                            transform: scale(1.05);
                        }
                    }

                    &_exact {
                        transition: .1s;

                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
            }

            &__pause {
                &-icon {
                    padding: 0;
                    transition: .1s;

                    &:hover {
                        transform: scale(1.01) translate(-50%, -50%);
                    }
                }
            }
        }
    }

    .header {
        &__content {
            &-name {
                top: 35% !important;
            }
        }

        &__background {
            width: 100%;
            left: 0;
            transform: translate(0);

            &::after {
                width: 50rem;
                height: 50rem;
            }

            &::before {
                width: 60rem;
                height: 60rem;
            }
        }
    }
}

@media(max-width: 660px) {
    .footer {
        & .container {
            padding: 3rem 1.5rem;
            flex-direction: column;
            row-gap: 2rem;
            align-items: center;
            justify-content: center;
        }

        &__icon {
            flex-direction: column;
            row-gap: 1.5rem;

        }
    }

    .main {
        & .intro {
            &__block {
                height: 125rem;
            }
        }
    }

    .installation {
        display: none !important;
    }

    .installation1 {
        flex-direction: column;
        margin: 3rem auto 0 auto;
        width: 100%;
        max-width: 40rem;
        row-gap: 1.5rem;

        & .intro__install-btn-image {
            width: 100%;
        }
    }

    .main {
        & .slider {
            max-width: unset;
            width: 95%;
            height: 125rem;
        }
    }

    .header {
        &__background {
            &-image {
                width: 30rem;
            }

            &::after {
                width: 40rem;
                height: 40rem;
            }

            &::before {
                width: 50rem;
                height: 50rem;
            }
        }
    }

    & .intro {
        &__content {
            width: 100%;
        }

        &__title {
            font-size: 4rem;
            line-height: 4rem;
        }

        &__text {
            font-size: 2rem;
            line-height: 3rem;
        }

        &__pause {
            &-icon {
                width: 5.5rem;
            }
        }
    }

    .header {
        &__content {
            height: 90rem;
            width: 100%;
            max-width: 60rem;
            display: flex;
            align-items: center;
            justify-content: center;

            &-image {
                width: max-content;
                top: 60% !important;
            }

            &-name {
                font-size: 20rem;
                line-height: 18rem;
            }

            &-icon {
                &-1 {
                    width: 7.5rem;
                    top: calc(100% / 6) !important;
                }

                &-2 {
                    width: 7.5rem;
                    bottom: calc(100% / 2) !important;
                    right: calc(1320px / 36) !important;
                }
            }
        }
    }


}

@media(max-width: 575px) {
    .header__content-name {
        top: 50% !important;
    }

    .header__content-image {
        width: 175%;
    }

    .header__background {
        transform: translate(0) scale(1.2);

        &-image {
            width: 20rem;
        }
    }

    .main {
        & .swiper {
            &-slide {
                width: 30rem !important;
                height: 30rem !important;
            }
        }

        & .slider {

            &__title {
                font-size: 6rem;
                line-height: 6rem;
            }
        }

        & .intro {
            &__block {
                height: 118rem;
            }

            &__content {
                width: 100%;
            }

            &__title {
                font-size: 4rem;
                line-height: 4rem;
            }

            &__text {
                font-size: 2rem;
                line-height: 3rem;
            }

            &__pause {
                &-icon {
                    width: 5.5rem;
                }
            }
        }
    }
}


@media(max-width: 475px) {
    .installation1 {
        flex-direction: column;
        row-gap: 1.5rem;

        & img {
            width: 100%;
        }

        & .intro__install-btn-image {
            width: 80% !important;
        }
    }

    .main .slider {
        height: 110rem;
    }

    .header {
        &__content {
            &-image {
                width: 175%;
            }

            &-icon {
                &-1 {
                    width: 5rem;
                    top: calc(100% / 3) !important;
                    left: 1rem !important;
                    z-index: 10;
                    backdrop-filter: blur(10px);
                }

                &-2 {
                    width: 5rem;
                    bottom: calc(100% / 2.5) !important;
                    right: calc(1320px / 60) !important;
                    z-index: 10;
                    backdrop-filter: blur(10px);
                }
            }

            &-name {
                font-size: 16rem;
                line-height: 14rem;
            }
        }
    }

    .main {
        & .slider {

            &__title {
                font-size: 3rem;
                line-height: 3rem;
            }

            &__text {
                font-size: 2rem;
                line-height: 2rem;
            }
        }

        & .intro {
            &__block {
                height: 90rem;
            }

            &__pause {
                &-icon {
                    top: 60%;
                }

                &-cals {
                    width: 7.5rem;
                    border-radius: 1rem;
                }
            }

            &__content {
                height: 40rem;

                &-quality {
                    top: 15%;

                    & a {
                        text-transform: uppercase;
                        font-size: 1.151rem;
                        font-weight: 700;
                        line-height: 1.438rem;
                        color: white;
                        padding: .7rem .5rem;
                        width: 5rem;
                        text-align: center;
                    }
                }

                &-image {
                    width: 45rem;
                    height: 45rem;
                    opacity: 0.2;
                }

                &-background {
                    &::after {
                        width: 30rem;
                        height: 30rem;
                    }

                    &::before {
                        width: 20rem;
                        height: 20rem;
                    }
                }
            }

            &__text {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.4rem;
            }
        }
    }
}

@media(max-width: 420px) {
    .main {
        & .intro {
            &__block {
                height: 102rem;
            }
        }

        & .slider {
            .swiper {
                &-slide {
                    &-text {
                        font-size: 1.4rem;
                        line-height: 2.4rem;
                        left: 2rem;
                        bottom: 1.877rem;
                    }

                    &-level {
                        font-size: 1.4rem;
                        line-height: 2.4rem;
                        top: 1.008rem;
                        left: 1.008rem;
                    }
                }
            }
        }
    }


    .header__background {
        transform: translateY(10%) scale(1.2);
    }

    .header__content-image {
        width: 200%;
    }
}

@media(max-width: 375px) {

    .main .intro__install-btn-image {
        width: 100%;
    }

    .main .intro__info {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    .main .intro__install-btns {
        flex-direction: column;
        row-gap: 1rem;
        display: none;

        &.none {
            display: flex !important;

            & img {
                width: 100%;
            }
        }
    }

    .main {
        & .slider {
            height: 92rem;
            padding: 2rem;

            & .mySwiper {
                width: 85%;
                height: 55rem;
            }
        }

        & .swiper {
            &-slide {
                transform: scale(1);

                &-active {
                    transform: scale(1);
                }

                width: 21.664rem !important;
                height: 21.664rem !important;


            }


            & .intro {
                &__block {
                    height: 95rem;
                }

                &__install {
                    &-btns {
                        flex-direction: column;
                        display: none;

                        &.none {
                            display: flex !important;
                            row-gap: 1rem;
                        }
                    }

                    &-btn {
                        width: 100%;

                        &-image {
                            width: 100%;
                        }
                    }
                }

                &__info {
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 2.2rem;
                }
            }
        }
    }

    @media(max-width: 350px) {

        .header {
            &__content {
                &-icon {
                    right: -5% !important;
                }
            }
        }
        .main {
            & .slider {
                & .swiper {
                    &-slide {
                        &-text {
                            font-size: 1.209rem;
                            line-height: 1.713rem;
                            left: 1.02rem;
                            bottom: 1.817rem;
                        }
                        &-level {
                            font-size: .705rem;
                            line-height: 1.209rem;
                        }
                    }
                }
            }
            & .intro {
                &__content {
                    &-background {
                        &::after {
                            width: 40rem;
                            height: 40rem;
                        }

                        &::before {
                            width: 20rem;
                            height: 20rem;
                        }
                    }

                    &-image {
                        width: 30rem;
                        height: 30rem;
                    }
                }

                &__block {
                    height: 107rem;
                }

                &__title {
                    font-size: 3rem;
                    line-height: 3rem;
                }
            }
        }

        .header {
            &__content {
                height: 100vh;

                &-name {
                    font-size: 8rem;
                    line-height: 6rem;
                }
            }

            &__background {
                height: 60rem;

                &-image {
                    width: 20rem;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background: url("../img/wave.png") no-repeat center center/cover;
                    width: 40rem;
                    height: 40rem;
                    transform: translate(-50%, -50%);
                    opacity: 0.3;
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background: url("../img/wave.png") no-repeat center center/cover;
                    width: 30rem;
                    height: 30rem;
                    transform: translate(-50%, -50%);
                    opacity: 0.5;
                }
            }
        }
    }
}